.App {
  display: grid;
  place-items: center;
  background-color: #2B2D42;
  height: 100vh;
}
.app_body{
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: -10px;
  width: 65vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgb(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1424px) {
  .app_body {
    width: 90vw;
  }
}
@media only screen and (max-width: 630px) {
  .app_body {
    display: none !important;
  }
}