.login{
    background-color: #2B2D42;
    height: 80vh;
    width: 80vw;
    display: grid;
    place-items: center ;
}
.login_container{
    padding: 70px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgb(0, 0, 0, 0.5);
}
.login_container > img{
    object-fit: contain;
    margin-bottom: 30px;
    height: 200px;
    border-radius: 100%;
}
.login_container > button{
    margin-top: 50px;
    border-radius: 5px;
    color:  #2B2D42;
    background-color:  #EDF2F4 !important;
    text-transform: inherit !important;
    font-weight: 700;
    font-size: 14px;
}